<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right"> <!-- Chapter 5-->
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "Users", '#', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Profile", current_user, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
